<!-- <div [ngClass]="{'dark-theme': isThemeDark}">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Project Title</span>
            <span class="example-spacer"></span>
            <a class="example-link" routerLink="/" mat-button>Home</a>
            <a class="example-link" routerLink="/" mat-button>Posts</a>
            <mat-slide-toggle [checked]="isThemeDark" (change)="toggleDarkTheme($event.checked)">Dark theme</mat-slide-toggle>
        </mat-toolbar-row>
    </mat-toolbar>
</div> -->
<section [ngClass]="{'dark-theme': isThemeDark}">
    <app-main-nav></app-main-nav>
</section>