<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <app-side-nav></app-side-nav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header>
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
             </button>
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" fxHide.lt-md="true">
                 <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
        </app-header>
        <section>
            <router-outlet></router-outlet>
        </section>
    </mat-sidenav-content>
</mat-sidenav-container>